@import "@wayke-se/ecom-web/dist/index.css";

/* Custom Ecom CSS (Optional) */
/* Overrides the default ecom colors through the custom properties defined on .waykeecom-root */

.waykeecom-root {
  --waykeecom--color-primary-main: #ff5a1c;
  --waykeecom--color-primary-alt: #ffe6dc;
  --waykeecom--color-link-main: #ff5a1c;
  --waykeecom--color-action-main: #ff5a1c;
  --waykeecom--color-action-alt: #ffe6dc;
}
